/* style.css */
#wrap {}
#header {height: 89px; border-bottom: 1px solid #efefef}
#banner {height: 550px; background-color: #ffcdd2  ;}
#sbanner {height: 228px; background-color: #ef9a9a  ;}
#select {height: 498px; background-color: #e57373  ;}
#infor {height: 515px; background-color: #ef5350  ;}
#ad {height: 451px; background-color: #f44336  ;}
#blog {height: 1000px; background-color: #e53935  ;}
#site {height: 500px; background-color: #d32f2f  ;}
#footer {height: 300px; background-color: #c62828  ;}

/* container */
.container {width: 1180px; height: inherit; /* background-color: rgba(0,0,0,0.5); */ margin:0 auto;}

/* header */
.header {overflow: hidden;}
.header h1 {float: left; padding-top: 24px; margin-right: 20px;}
.header .gnb {float: left;}
.header .gnb ul {}
.header .gnb ul li {display: inline;}
.header .gnb ul li a {font-size: 18px; padding: 32px 12px; display: inline-block; }
.header .quick {float: right;}
.header .quick {}
.header .quick li {display: inline;}
.header .quick li a {font-size: 14px; padding: 34px 12px; display: inline-block; color: #676767;}

